body{
    background-color: ;
    margin: 0;
    padding: 0;
    
    
}

.hero{
    /* linear-gradient(rgba(62,51,0,0.6), rgba(153,102,51,0.2)),*/
    background-image:  url("../images/vcam_2.jpg");
    height: 70vh;
    background-size: cover;
    padding-top: 8vh;
    padding-bottom: 30vh;
    
}
section h1{
    text-transform: uppercase;
    font-size: 5rem;
    color: coral;
    text-shadow: 1px 1px 1px #000;
}

section p{
    font-size: 1.3rem;
    line-height: 1.3rem;
    text-shadow: 1px 1px 1px #000;
    padding-left: 0.2rem;
     
}
.hero a {
    color: #fff;
}
.hero a:hover{
    color: coral;
    text-decoration: none;
}